<td class="actions">
  <%= link_to 'Subir', admin_bok_actions_path(:bok_id => bok, :name => 'move_higher', :url => request.fullpath), :method => :post %>
  <%= link_to 'Bajar', admin_bok_actions_path(:bok_id => bok, :name => 'move_lower', :url => request.fullpath), :method =>  :post %>
</td>
