<ul class="browser">
  <h2>Materiales</h2>
  <% contents.each do |content| %>
      <%= content_tag_for :li, content do %>
          <h3><%= link_to content.title, [project, content] %></h3>
          <div class="authors"><%= content.authors %></div>
      <% end %>
  <% end %>
</ul>
<%= link_to image_tag('logos/LOGO-VIBOK.png', :alt => 'vibok', :id => 'logo-vibok'), 'http://www.edicionesvibok.net' %>
