<div class="actions">
  <%#= link_to 'Crear nueva serie', [:admin, :series] %>
</div>

<table>
  <thead>
    <tr>
      <td>Nombre</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @series.each do |serie| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td class="title"><%= link_to serie.title, [:admin, serie] %></td>
        <td class="actions">
          <%= link_to 'Administrar', admin_series_path(serie) %>
          <%= link_to 'Editar', edit_admin_series_path(serie) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
