<p>Hola <%= @user.name %>,</p>
<p>Has sido invitadx a participar en <a href="http://plataformabooka.net">plataformabooka.net</a></p>
<p>Esperemos que la herramienta booka te sea útil.</p>
<p>Un saludo, el equipo de plataforma booka.</p>