<% title 'Invitación enviada' %>

<%= render_top do %>
    <h1>booka</h1>
    <h4>plataforma editorial abierta</h4>
<% end %>


<div class="row24">
  <div id="browser" class="col-left">&nbsp;</div>
  <div class="col-center editable">
    <h1>Invitación enviada</h1>
    <p>La invitación se ha enviado a <%= user.name %></p>
  </div>
  <div id="info" class="col-right">&nbsp;</div>
</div>

