<% title 'ADMIN'%>

<%= render_top :admin %>

<div class="row24">
  <div id="browser" class="col-left">
    &nbsp;
  </div>
  <div class="col-center">
    <h1>Modificar booka</h1>
    <%= render :partial => 'form' %>
  </div>
  <div id="info" class="col-right">
    &nbsp;
  </div>
</div>
