<% title "Editar participante" %>

<%= render_top :permissions %>

<div class="row24">
  <div id="browser" class="col-left">
    &nbsp;
  </div>
  <div class="col-center">
    <h1>Editar nivel de acceso de participante</h1>
    <%= render :partial => 'form' %>
  </div>
  <div class="col-right"></div>
</div>