<% title "Participantes - #{project.title}" %>

<%= render_top :permissions %>

<div class="row24">
  <div id="browser" class="col-left">
    &nbsp;
  </div>
  <div class="col-center">
    <h1>Participantes</h1>
    <%= render permissions %>
    <div class="actions">
      <% if can?(:admin, project) %>
          <%= link_to 'Añadir participante', [:new, project, :permission] %>
      <% end %>
    </div>
  </div>
  <div id="info" class="col-right">
  </div>
</div>


