<%= link_to image_tag('iconos/libro.png'), [project, :asambleas]%>

<ul class="browser">
  <h2>Reuniones</h2>
  <% if can? :update, project %>
      <%= link_to 'Añadir una reunión', [:new, project, :asamblea] %>
  <% end %>
  <% asambleas.each do |asamblea| %>
      <%= content_tag_for :li, asamblea do %>
          <h3><%= link_to asamblea.title, [asamblea.project, asamblea] %></h3>
      <% end %>
  <% end %>
</ul>
