
<%= render_top :asambleas %>

<div class="row24">
  <div class="col-left">
    <%= render_browser :asambleas, asambleas %>
  </div>
  <div class="col-center">
    <h1>Editar reunión</h1>
    <%= render :partial => 'form' %>
  </div>
  <div class="col-right"></div>
</div>