<% title 'Reuniones' %>

<%= render_top :asambleas %>

<div class="row24">
  <div id="browser" class="col-left">
    <%= render_browser :asambleas, asambleas %>
  </div>
  <div class="col-center app">
    <h1>Mesa de edición</h1>

    <p>La Mesa de edición es la zona en la que podemos discutir y llegar a decisiones
      sobre la edición del libro</p>

    <p>Las decisiones se toman en <b>foros</b>. Puedes crear una nueva reunión o ver las
      que ya están creadas en la lista de la izquierda.</p>
    <h2>Foros</h2>
    <% asambleas.each do |asamblea| %>
        <%= render asamblea %>
    <% end %>
    <div class="actions">
      <% if can? :update, project %>
          <%= link_to 'Añadir un foro', [:new, project, :asamblea] %>
      <% end %>
    </div>
  </div>
  <div id="info" class="col-right">
  </div>
</div>

