<% title 'Reuniones' %>

<%= render_top :asambleas %>

<div class="row24">
  <div id="navigation" class="col-left">
    <%= render_browser :asambleas, @asambleas %>
  </div>
  <div class="col-center">
  </div>
  <div id="info" class="col-right">
  </div>
</div>

