<%= render_top :asambleas %>

<div class="row24">
  <div id="browser" class="col-left">
    <%= render_browser :asambleas, project.asambleas %>
  </div>
  <div class="col-center">
    <h1>Añadir una nueva reunión</h1>
    <%= render :partial => 'form' %>
  </div>
  <div class="col-right"></div>
</div>