<div class="comments">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_developer = '<%= Rails.env.production? ? '0' : '1' %>';
      var disqus_shortname = 'plataformabooka';
      var disqus_identifier = '<%= model_name %>-<%= id %>';
      var disqus_url = '<%= request.url %>';
      (function() {
          var dsq = document.createElement('script');
          dsq.type = 'text/javascript';
          dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
</div>
