<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body style="color: #29256a;font-family:Arial, sans;">
<div style="width: 600px;margin:1em auto;">
  <%= I18n.l Time.now %>
  <h1 style="background-color: #d4d3e1; padding: 10px;">Informe de actividad</h1>
  <table>
    <%= render @activities %>
  </table>
</div>
</body>
</html>