<%= content_tag (project? ? :h2 : :h1), serie.title %>
<ul class="navigator">
  <li><%= link_to 'booka', root_path %></li>
  <% Serie.all.each do |serie| %>
      <span>|</span>
      <li><%= link_to_unless_current serie.title, serie %></li>
  <% end %>
</ul>