<%= content_tag (project? ? :h2 : :h1), serie.title %>
<ul class="navigator">
  <% Serie.all.each do |serie| %>
      <li><%= link_to_unless_current serie.title, serie %></li>
      <span>|</span>
  <% end %>
</ul>