<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body style="color:#29256a; font-family:'Tahoma', arial, sans-serif;">
<%= yield %>
</body>
</html>